@import "../../styles/common.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--bg);
  display: flex;
  justify-content: center;
}

.options-frame {
  width: 100%;
  max-width: 1080px;
  height: 100vh;
  border: none;
  display: block;
}

iframe body {
    width: 100vw;
    height: 100vh;
}
