body {
    font: 14px/1.2 sans-serif;
    width: 320px;
    height: 320px;
    margin: 0;
    padding: 8px;
    background: linear-gradient(135deg, #151515, #181818);
    color: #f5f5f5;
    font-family: "Roboto", monospace;
}

button {
    background: grey;
    color: #f5f5f5;
    border-radius: 4px;
    
}

.hidden {
    display: none;
}

#view-list {
    height: 100%;
    width: 100%;
}

.list-view {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 8px;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
    padding: 0;
}

.header button {
    width: fit-content;
    margin: 4px 0;
}

.list-view h3 {
    margin: 0;
    padding: 0;
}

#list {
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    align-items: stretch;
}

.list-item {
    width: 100%;
    padding: 4px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222;
}

.list-item .name {
    font-weight: 700;
    font-size: large;
    margin-right: 8px;
}

.list-item .head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.list-item .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 4px;    
}

.list-item .tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4px;
    font-size: smaller;
}

.list-item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 4px;
}

.site-btn {
    text-align: center;
    padding: 2px 4px;
    margin: 0;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;  
    color: #f5f5f5;
    font-weight: 600;
}

.site-btn:hover {
    transition: scale 0.1s fade-in-out;
    scale: 1.1;
}

.tag {
    background: grey;
    border-radius: 4px;
    padding: 0 2px;
}
